.annual-overview-tablecolumn {
    -fx-border-color: #D9DFE4;
    -fx-border-width: 0 2px 0 0;
}

.text-bold {
    -fx-font: bold 1em sans-serif;
}

.tag {
    -fx-background-color: #DDD;
    -fx-background-radius: 4px;
    -fx-padding: 2px 4px;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}