
.text-bold {
    -fx-font: bold 1em sans-serif;
}

.tag {
    -fx-background-color: #DDD;
    -fx-background-radius: 4px;
    -fx-padding: 2px 4px;
}

.btn-compact {
    -fx-padding-left: 2px;
    -fx-padding-right: 2px;
}

.validation-error {
    -fx-border-color: #f00;
    -fx-border-radius: 4px;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.monthly-table .border-right {
    -fx-border-color: #D9DFE4;
    -fx-border-width: 0 1px 0 0;
}

.value-col.table-cell {
    /*-fx-font-family: 'Menlo', 'monospace';*/
    -fx-alignment: center-right;
}

.progress-indicator-text {
    -fx-background-color: -color-base-0;
    -fx-padding: 3px 3px 3px 3px;
    -fx-background-radius: 3px;
}