.DS_Store
target/
*.log
*.db
*.app
*.bkp

_output.csv

dependency-reduced-pom.xml
JBudgetBook.app.zip
JBudgetBook.tar.gz
env.tex
BB-THIRD-PARTY.txt

.idea/ClojureProjectResolveSettings.xml
.idea/sonarlint.xml
.idea/copilot.*
/BUILD