name: Build all platforms
on:
  push:
    tags: # Ausführung bei Erstellung eines Tags
      - 'release-*'

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, fedora-latest, windows-latest ] # Apple wird folgen, jedoch braucht man dafür eine Apple Dev Identity
    runs-on: ${{matrix.os}}
    steps:
      - name: Download Wix
        uses: i3h/download-release-asset@v1
        if: matrix.os == 'windows-latest'
        with:
          owner: wixtoolset
          repo: wix3
          tag: wix3112rtm
          file: wix311-binaries.zip
      - name: Decompress Wix
        uses: DuckSoft/extract-7z-action@v1.0
        if: matrix.os == 'windows-latest'
        with:
          pathSource: wix311-binaries.zip
          pathTarget: ./target/wix
      - name: Add Wix to Path
        run: echo "$HOME/target/wix" >> $GITHUB_PATH
        if: matrix.os == 'windows-latest'
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven
      - name: Maven Build
        run: mvn -B package --file pom.xml

